[submodule "co_repo/CNN4HW"]
	path = co_repo/CNN4HW
	url = https://github.com/NuDAQ/CNN4HW
[submodule "co_repo/axi"]
	path = co_repo/axi
	url = https://github.com/NuDAQ/axi
[submodule "co_repo/iDMA"]
	path = co_repo/iDMA
	url = https://github.com/NuDAQ/iDMA
[submodule "co_repo/pico4NuDAQ"]
	path = co_repo/pico4NuDAQ
	url = https://github.com/NuDAQ/pico4NuDAQ
