[submodule "co_repo/picorv32_al"]
	path = co_repo/picorv32_al
	url = git@github.com:albertc9/picorv32_al.git
[submodule "co_repo/CNN4HW"]
	path = co_repo/CNN4HW
	url = git@github.com:albertc9/CNN4HW.git
[submodule "co_repo/axi"]
	path = co_repo/axi
	url = git@github.com:albertc9/axi.git
[submodule "co_repo/iDMA"]
	path = co_repo/iDMA
	url = git@github.com:albertc9/iDMA.git
